.profile-pic-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  padding: 20px;
  background-color: hsla(0, 0%, 100%, 0.35);
}

/* .profile-pic-figure {
  width: 35%;
} */

figure > img {
  width: 100%;
  min-width: 100px;
  height: auto;
  border: 5px double gray;
  border-radius: 50%;
}
